@import '../../containers/Globales.scss';
@import '../../assets/styles/Mixins.scss';

.Twittear {
  border-top: 1px solid $border-color;
  border-bottom: 15px solid $placeholder-color;
  padding: 10px 15px;
  display: flex;
  &__img {
    img {
      width: 50px;
      height: 50px;
      object-fit: cover;
      border-radius: 50%;
    }
  }
  &__details {
    width: 100%;
    &--text {
      input {
        outline: none;
        margin-top: 10px;
        margin-left: 20px;
        width: 90%;
        height: 100%;
        font-size: 1.4em;
        color: $tipography;
        background-color: $backgroun-color;
        border: none;
        &::placeholder {
          color: $light-font;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
      }
    }
    &--settings {
      display: flex;
      justify-content: space-between;
      align-items: center;
      ul {
        padding: 10px;
        display: flex;
        justify-content: center;
        li {
          margin: 0 10px;

          i {
            font-size: 28px;
            color: $button-color;
          }
        }
      }
      button {
        @include button;
        padding: 0 15px;
        height: 40px;
      }
    }
  }
}

@media (max-width: 426px) {
  .Twittear__details--settings {
    ul {
      li {
        margin: 0 3px;
      }
    }
  }
}

@media (max-width: 376px) {
  .Twittear__details--settings {
    ul {
      padding-right: 0;

      li {
        margin: 0 7px;
      }
      .Calendar {
        display: none;
      }
      .Staticst {
        display: none;
      }
    }
  }
}
