@import '../../containers/Globales.scss';

@mixin button {
  background-color: $button-color;
  height: 50px;
  border-radius: 30px;
  border: none;
  font-weight: 700;
  font-size: 1em;
  color: $tipography;
  padding: 5px;
  box-sizing: border-box;
}
